<h1>font-size测试</h1>
<p>具体可去 <a href="inline-block.html">inline-block测试页面</a> 中的font-size部分看结果</p>
<h2>普通文本测试</h2>
<div class="egbox f12">
	请随意调整字体大小。
</div>
<h2>font-size为0的情况（引号内部已经设为font size 0）</h2>
<div class="egbox f12">
	这是一句"<span class="f0">完整的</span>"话。<br>
	这是一句"<span class="f0">complete</span>"话。
</div>
